@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

.content{
    max-width: 1600px;
    margin: 0 auto;
}

header{
    background-color: #012A36;
}

body{
    background-color: white;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
    
}

h2{
    margin: 0;
}


nav a{
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;

}

nav a:hover{
    background-color: #7E52A0;
    color: white;
}

.home-title{
    color: #012A36;
    font-family: IM Fell French CanoN;
    font-size: 2em;
    margin-top: 10px;
}

h4{
    color: #012A36;
}

.book, .join{
    background-color: #012A36;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    
}

.book:hover, .join:hover{
    background-color: yellow;
    color: black;
}

#background{
    background-color: #7E52A0;
    height: 725px;
}

.msg h2{
    color: white;
}

.rivers-card, .camping-card, .rapids-card, .mountains{
    margin: 200px 0;
}

.card-img{
    border: 10px solid #d9c2a3;
}

.msg p{
    color: white;
    font-size: .8em;
    padding-bottom: 15px;
}


.msg{
    background-color: #29274C;
    line-height: 1.5em;
    padding: 35px;
}

footer{
    background-color: #29274C;
    color: yellow;
    padding: 25px 50px;
    margin-top: 200px;
}

footer .social img{
    padding-top: 15px;
}


footer p{
    font-size: 1.2em;
}

footer p a:hover{
    text-decoration: underline;
}

footer a{
    color: yellow;
    text-decoration: none;
}

footer a:hover{
    color: white;
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

main section img{
    box-sizing: border-box;
}


#hero-img{
    width: 100%;
}

.icon{
    width: 80px;
    padding-top: 10px;
}

#logo_link{
    padding-top: 5px;
    
}

