@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP|Lato');

/* Home Page CSS */

body{
    background-color: #F0EDEE;
    font-family: Lato, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}    

.content{
    max-width: 1600px;
    margin: 0 auto;
}

header{
    background-color: #DB9D47 ;
    display: grid;
    grid-template-columns: 150px auto;
}

nav{
    display: flex;
    justify-content: space-around;
}

.logo{
    padding: 10px;
    justify-self: center;
    align-self: center;
}

.logo img{
    border-radius: 50%;
}

nav a{
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 60px;
    font-weight: 300;
}

nav a:hover{
    background-color: #3A3042;
    color: white;
}
.main{
    background-color: #3A3042;
   
}

.main img {
    width: 100%;
    
}


#text1 h2{
    text-align: center;
    font-family: "Noto Sans JP";
    font-weight: 1000;
    color: white;
    font-size: 50px;
}

#text1 h2:hover{
    color: #DB9D47;
    font-style: italic;
}

#text1 p{
    text-align: center;
    color: white;
    padding: 0 0 25px 0;
   margin: 0;
    
}

#text1 p:hover{
    color: #DB9D47;
    font-style: italic;
}

.main_2{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
.main_2 img {
    /* width: 1440px;
    height: 700px; */
    width: 100%;
    
}

#home_pic2{
    grid-column: 1/4;
    grid-row: 1/4;
    z-index: -1;
}

#text_3{
    grid-column: 2/3;
    grid-row: 1/3;
    margin-top: 100px;
    text-align: center;
    padding-top: 40px;
}

#text_3 h3{
    font-family: "Noto Sans JP";
    color:  #F0EDEE;
    font-size: 30px;
    padding-bottom: 100px;
}

#text_3 .button_box{
    margin-top: 10px;
    grid-column: 2/3;
    
}

#text_3 a{
    color: white;
    background-color: #3A3042;
    padding: 18px;
    text-decoration: none;
    font-size: 24px;
    border-radius: 10px;
}

#text_3 a:hover{
    background-color: #DB9D47;
    color: black;
   
}

#home_text2{
   margin: 60px;
   padding: 40px;
   border: 2px solid #3A3042;
   border-radius: 15px;
}

footer{
    background-color: #3A3042;
    color: #F0EDEE;
    padding: 25px 50px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: medium;
    font-weight: 400;
}

.foot1 span{
    font-size: larger;
    font-family: "Noto Sans JP";
    font-weight: 600;
    font-size: larger;
}

.foot2{
    margin-top: 50px;
}

.foot2 #operation{
    color: #FF784F;
    font-size: larger;
}

.foot2 #copy{
    margin-top: 30px;
    border-top: 2px solid #FF784F;
}

.foot2 a{
    color: #F0EDEE;
    text-decoration: none;
}

.foot2 a:hover{
    color: yellow;
    text-decoration: underline;
    font-size: large;
}


/* Programs Page CSS */

.programs_main{
    text-align: center;
    margin: 40px;
    font-family: "Noto Sans JP";
    font-weight: bolder;
    color: #3A3042;
    border-bottom: 2px solid #FF784F;
    border-top: 2px solid #FF784F;
    
}

.programs_main:hover{
    color: #FF784F;
    font-style: italic;
    border-bottom: 2px solid #3A3042;
    border-top: 2px solid #3A3042;
}

.programs_pics1{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 3fr 1fr 1fr 3fr 1fr ;
    justify-content: space-around;

}

.programs_pics1 p{
    font-size: 23px;
    font-weight: bolder;
    border-radius: 8px;
    width: fit-content;
    padding: 10px;
    justify-self: center;
}

.programs_pics1 img{
    width: 400px;
    border: 4px solid #3A3042;
}

.programs_pics1 img:hover{
    opacity: .6;
    transform: scale(1.1);
}

.programs_pics1 .text{
    font-size: large;
    padding: 30px;
    text-align: left;
}

#first_one{
    grid-column: 2/3;
    text-align: justify;
}

#first_one img{
    height: 267px;
}

#second_one{
    grid-column: 5/6;
    text-align: center;
}

#third_one{
    grid-column: 8/9;
    text-align: center;
}

.programs_pic2{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 3fr 1fr 1fr 3fr 1fr ;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 0px;

}

.programs_pic2 p{
    font-size: 23px;
    font-weight: bolder;
    border-radius: 8px;
    width: fit-content;
    padding: 10px;
    justify-self: center;
}

.programs_pic2 img{
    width: 400px;
    border: 4px solid #3A3042;
}

.programs_pic2 img:hover{
    opacity: .6;
    transform: scale(1.1);
}

.programs_pic2 .text{
    font-size: large;
    padding: 30px;
    text-align: left;
}

#fourth_one{
    grid-column: 2/3;
    text-align: justify;
}

#fifth_one{
    grid-column: 5/6;
    text-align: center;
}

#sixth_one{
    grid-column: 8/9;
    text-align: center;
}



/* Membership page CSS */

.membership_main p{
    text-align: center;
    margin: 40px;
    font-family: "Noto Sans JP";
    font-weight: bolder;
    color: #3A3042;
    border-bottom: 2px solid #FF784F;
    border-top: 2px solid #FF784F;
    padding: 20px;
}

.membership_main p:hover{
    color: #FF784F;
    font-style: italic;
    border-bottom: 2px solid #3A3042;
    border-top: 2px solid #3A3042;
}

#intro{
    display: grid;
    grid-template-columns: 2fr 5fr 3fr 3fr 2fr;
}

.membership_text{
    grid-column: 2/3;
    border: 2px solid #FF784F;
    padding: 18px;
    border-radius: 8px;
}

.membership_text:hover{
    color: #3A3042;
    font-weight: bolder;
    transform: scale(1.1);
}

#intro img{
    grid-column: 4/5;
    height: 280px;
    border: 4px solid #3A3042;
    margin-top: 18px;
}

#intro img:hover{
    opacity: 0.6;
    transform: scale(1.1);
}

#intro_two{
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: 1fr 2fr 1fr;
    margin-top: 70px;
}

#intro_two #pic{
    grid-column: 1/4;
    grid-row: 1/4;
}

#intro_two img{
    width: 1600px;
    
}

#intro_two .button{
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    align-self: center;
}

#intro_two .button a{
    text-decoration: none;
    color: white;
    background-color: #3A3042;
    padding: 20px;
    font-weight: 700;
    border-radius: 10px;
}

#intro_two .button a:hover{
    background-color: #FF784F;
    color: black;
    font-style: italic;
    transform: scale(1.1);
}

.package{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 4fr 1fr 4fr 1fr;
    justify-content: space-around;
    margin-top: 60px;
}

#silver{
    grid-column: 2/3;
    border: 2px solid silver;
    padding: 15px;
    border-radius: 8px;
}

#silver:hover{
    background-color: silver;
    transform: scale(1.1);
    color: #3A3042;
}

h2, h4, .benefit{
    text-align: center;
}

#gold{
    grid-column: 4/5;
    border: 2px solid gold;
    padding: 15px;
    border-radius: 8px;
}

#gold:hover{
    background-color: gold;
    transform: scale(1.1);
    color: black;

}

#platinum{
    grid-column: 6/7;
    border: 2px solid #E5E4E2;
    padding: 15px;
    border-radius: 8px;
}

#platinum:hover{
    background-color:#E5E4E2;
    transform: scale(1.1);
    color: #3A3042;
}